#blog-starter {
  background-image: url(../images/blog/rows-red-seats-theater.jpg);
  background-size: cover;
  padding: 12.5% 0;

  .blog-starter-container {
    .blog-starter-row {
      .blog-starter-heading {
        font-family: "RobotoSerif";
        color: white;
        text-align: center;
        font-size: 3.5rem;
      }
    }
  }
}
