header {
  nav {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    padding: 2% 0;
    border-bottom: 1px solid white;
    .nav-container {
      .nav-row {
        align-items: center;
        .left-nav {
          a {
            display: inline-block;
            color: white;
            font-family: "Baloo";
            font-size: 1.6rem;
            font-weight: 600;

            span {
              color: $this-red;
            }
          }
        }
        .right-nav {
          .nav-links {
            @include Flexing(center, flex-end);

            li {
              a {
                display: inline-block;
                color: white;
                font-weight: 600;
              }

              .active {
                color: $this-red;
              }
            }

            li.nav-login-li {
              a {
                background-color: $this-red;
                border-radius: 5px;
                padding: 10px 30px;
                transition: 0.2s;

                &:hover {
                  background-color: $red-btn-hover;
                }
              }
            }

            .cart-shopping-li,
            .wishlist-li {
              position: relative;

              span {
                position: absolute;
                display: inline-block;
                color: white;
                background-color: $this-red;
                width: 15px;
                height: 15px;
                text-align: center;
                line-height: 15px;
                border-radius: 50%;
                font-size: 0.7rem;
                right: -50%;
                bottom: 65%;
              }
            }

            li:not(:last-child) {
              margin-right: 5%;
            }
          }
        }
      }
    }
  }
}
