header {
  nav {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 2% 0;
    border-bottom: 1px solid white;
    .nav-container {
      .nav-row {
        align-items: center;
        .left-nav {
          a {
            display: inline-block;
            color: white;
            font-family: "Baloo";
            font-size: 1.6rem;
            font-weight: 600;

            span {
              color: $this-red;
            }
          }
        }
        .right-nav {
          .nav-links {
            @include Flexing(center, flex-end);

            li {
              a {
                display: inline-block;
                color: white;
                font-weight: 600;
              }
            }

            li.nav-login-li {
              a {
                background-color: $this-red;
                border-radius: 5px;
                padding: 10px 30px;
              }
            }

            li:not(:last-child) {
              margin-right: 5%;
            }
          }
        }
      }
    }
  }
}

#films-swiper {
  .films-swiper-item {
    background-image: url("../images/home/banner-2.jpg");
    background-size: cover;
    padding-top: 15%;
    .films-swiper-container {
      .films-swiper-row {
        .films-swiper-col {
          .films-swiper-badge {
            background-color: #ffd230;
            padding: 0.5% 1%;
          }

          h2 {
            color: white;
            font-family: "Baloo";
            font-weight: 600;
            font-size: 4.8rem;
          }

          .casts {
            .casts-heading {
              font-weight: 600;
              color: white;
              font-family: "Baloo";
            }

            .casts-actor-actress {
              color: white;
              font-size: 0.8rem;
              font-family: "RobotoSerif";
            }
          }

          .casts-film-types {
            @include Flexing;

            li {
              color: white;
            }

            li:not(:last-child) {
              margin-right: 1.5%;
            }
          }

          .film-description {
            color: white;
          }
        }
      }
    }
  }
}
