#movie-fragment {
  background-color: #303030;
  padding: 5%;

  .movie-fragment-container {
    .movie-fragment-row {
      .movie-fragment-col {
        .movie-iframe-div {
          position: relative;

          .go-back-btn {
            position: absolute;
            background-color: $this-red;
            color: white;
            padding: 1.5% 3%;

            span {
              font-size: 1.2rem;
              font-family: "Baloo";
            }
          }

          iframe {
            display: inline-block;
            width: 100%;
            height: 600px;
          }
        }
      }
    }
  }
}

#movie-description {
  .movie-description-container {
    .movie-description-row {
      .films-swiper-col {
        .films-swiper-badge {
          background-color: #ffd230;
          padding: 0.5% 1%;
        }

        h2 {
          color: black;
          font-family: "RobotoBold";
          font-size: 3.5rem;
        }

        .specifications {
          .specification-item {
            color: white;
            font-size: 0.8rem;
            font-family: "RobotoSerif";
          }
        }

        .film-types {
          @include Flexing(center);

          .film-type {
            color: white;

            strong {
              margin-right: 2.5px;
            }

            i {
              display: inline-block;
              font-size: 1.2rem;
            }
          }

          .film-type:not(:last-child) {
            margin-right: 0.5%;
          }
        }

        .film-description {
          color: white;
          font-family: "Baloo";
          padding-right: 22.5%;
        }

        .films-swiper-buttons-box {
          @include Flexing(center);
          margin-top: 1.75%;

          a {
            display: inline-block;
            font-family: "Baloo";
            border-radius: 5px;
            color: white;
          }

          .watch-btn {
            background-color: $this-red;
            padding: 10px 30px;
            transition: 0.2s;

            &:hover {
              background-color: $red-btn-hover;
            }
          }

          .watchlist-btn {
            border: 1px solid white;
            padding: 3px 20px;
            font-size: 1.2rem;
            margin-left: 2%;
            transition: 0.2s;

            &:hover {
              color: black;
              background-color: white;
            }
          }
        }
      }
    }
  }
}
