@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoSerif";
  src: url("../fonts/RobotoSerif/static/RobotoSerif/RobotoSerif-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("../fonts/SourceSansPro/SourceSansPro-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Baloo";
  src: url("../fonts/Baloo/static/BalooBhaijaan2-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

header nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 2% 0;
  border-bottom: 1px solid white;
}

header nav .nav-container .nav-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav-container .nav-row .left-nav a {
  display: inline-block;
  color: white;
  font-family: "Baloo";
  font-size: 1.6rem;
  font-weight: 600;
}

header nav .nav-container .nav-row .left-nav a span {
  color: #e41a1a;
}

header nav .nav-container .nav-row .right-nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav .nav-container .nav-row .right-nav .nav-links li a {
  display: inline-block;
  color: white;
  font-weight: 600;
}

header nav .nav-container .nav-row .right-nav .nav-links li.nav-login-li a {
  background-color: #e41a1a;
  border-radius: 5px;
  padding: 10px 30px;
}

header nav .nav-container .nav-row .right-nav .nav-links li:not(:last-child) {
  margin-right: 5%;
}

#films-swiper .films-swiper-item {
  background-image: url("../images/home/banner-2.jpg");
  background-size: cover;
  padding-top: 15%;
}

#films-swiper .films-swiper-item .films-swiper-container .films-swiper-row .films-swiper-col .films-swiper-badge {
  background-color: #ffd230;
  padding: 0.5% 1%;
}

#films-swiper .films-swiper-item .films-swiper-container .films-swiper-row .films-swiper-col h2 {
  color: white;
  font-family: "Baloo";
  font-weight: 600;
  font-size: 4.8rem;
}

#films-swiper .films-swiper-item .films-swiper-container .films-swiper-row .films-swiper-col .casts .casts-heading {
  font-weight: 600;
  color: white;
  font-family: "Baloo";
}

#films-swiper .films-swiper-item .films-swiper-container .films-swiper-row .films-swiper-col .casts .casts-actor-actress {
  color: white;
  font-size: 0.8rem;
  font-family: "RobotoSerif";
}

#films-swiper .films-swiper-item .films-swiper-container .films-swiper-row .films-swiper-col .casts-film-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#films-swiper .films-swiper-item .films-swiper-container .films-swiper-row .films-swiper-col .casts-film-types li {
  color: white;
}

#films-swiper .films-swiper-item .films-swiper-container .films-swiper-row .films-swiper-col .casts-film-types li:not(:last-child) {
  margin-right: 1.5%;
}

#films-swiper .films-swiper-item .films-swiper-container .films-swiper-row .films-swiper-col .film-description {
  color: white;
}
/*# sourceMappingURL=style.css.map */